/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 oct. 2023, 19:13:45
    Author     : Ismail
*/
fieldset{
    font-family: arial;
    font-size: 14px;
    width: 600px;
    background-color: azure;
    margin: auto;
}
input{
    border-radius: 5px; 
}

